[Unit]
Description=Controle remote GPIO by MQTT
[Service]
Type=forking
ExecStart=/usr/bin/python3 /home/pi/MQTT_GPIO/MQTT_GPIO.py
ExecStart=ls
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
Restart=always
[Install]
WantedBy=multi-user.target
